API_KEY=123456789

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Service template"

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_PORT_EXT=5440
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Service
SERVICE_PORT_EXT=8000

# Testing
POSTGRES_DB_TESTING=app_test # Always use the POSTGRES_DB name with _test

# Items Service
ITEMS_SERVICE_PORT=
ITEMS_SERVICE_HOST=dogapi.dog
ITEMS_SERVICE_API_KEY=
